services:
  database:
    image: mariadb:11.2
    environment:
      - MARIADB_USER=redmine
      - MARIADB_PASSWORD=password
      - MARIADB_DATABASE=redmine_production
      - MARIADB_RANDOM_ROOT_PASSWORD=1
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - /srv/docker/redmine/mariadb:/var/lib/mysql
    # https://www.redmine.org/projects/redmine/wiki/MySQL_configuration
    command:
      - mariadbd
      # https://www.redmine.org/projects/redmine/wiki/MySQL_configuration
      - --transaction-isolation=READ-COMMITTED
      # Configure 4byte utf8 support for full unicode support (all emojis), this requires manual conversion for existing tables. See README
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  redmine:
    build: ./
    image: sameersbn/redmine:6.0.3
    depends_on:
      - database
    environment:
      - TZ=Asia/Kolkata

      - DB_ADAPTER=mysql2
      - DB_ENCODING=utf8mb4
      - DB_HOST=database
      - DB_PORT=3306
      - DB_USER=redmine
      - DB_PASS=password
      - DB_NAME=redmine_production

      - REDMINE_PORT=10083
      - REDMINE_HTTPS=false
      - REDMINE_RELATIVE_URL_ROOT=
      - REDMINE_SECRET_TOKEN=

      - REDMINE_SUDO_MODE_ENABLED=false
      - REDMINE_SUDO_MODE_TIMEOUT=15

      - REDMINE_CONCURRENT_UPLOADS=2

      - REDMINE_BACKUP_SCHEDULE=
      - REDMINE_BACKUP_EXPIRY=
      - REDMINE_BACKUP_TIME=

      - SMTP_ENABLED=false
      - SMTP_METHOD=smtp
      - SMTP_DOMAIN=www.example.com
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=mailer@example.com
      - SMTP_PASS=password
      - SMTP_STARTTLS=true
      - SMTP_AUTHENTICATION=:login

      - IMAP_ENABLED=false
      - IMAP_HOST=imap.gmail.com
      - IMAP_PORT=993
      - IMAP_USER=mailer@example.com
      - IMAP_PASS=password
      - IMAP_SSL=true
      - IMAP_INTERVAL=30

    ports:
      - "10083:80"
    volumes:
      - /srv/docker/redmine/redmine_mariadb:/home/redmine/data
      - /srv/docker/redmine/redmine-logs:/var/log/redmine
